* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 332px;
  display: flex;
  background-color: #d3d3d3;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border-radius: 5px;
  box-shadow: 3px 3px 0 0 #939393;
}

.display {
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
  margin: 5px;
  background-color: white;
  font-size: 25px;
  font-weight: lighter;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  box-shadow: -2px -2px 1px 1px #c5c9cd;
}

.numbers {
  grid-column: 1 / span 3;
  grid-row: 2 / span 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.operators {
  grid-column: 4 / span 1;
  grid-row: 2 / span 4;
  display: flex;
  flex-direction: column;
}

.other {
  grid-column: 5 / span 2;
  grid-row: 2 / span 4;
  display: flex;
  flex-direction: column;
}

.btn {
  width: 1.8em;
  margin: 8px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.numbers .btn,
.other .btn {
  background-color: #7E9BB7;
  color: white;
  box-shadow: 2px 2px 1px 1px #586c80;
}
.numbers .btn:active,
.other .btn:active {
  transform: translateY(1px);
  transform: translateX(1px);
  box-shadow: 1px 1px 1px 1px #586c80;
}

.operators .btn {
  background-color: #3F4B59;
  color: white;
  box-shadow: 2px 2px 1px 1px #000;
}
.operators .btn:active {
  transform: translateY(1px);
  transform: translateX(1px);
  box-shadow: 1px 1px 1px 1px #000;
}